@import url(./vendors/fonts.css);

.page {
    max-width: 1440px;
    min-width: 320px;

    box-sizing: border-box;

    font-family: 'Montserrat';

    background-color: #f1fbff;

    padding: 0;
    margin: 0 auto;
}

/* General rules */

.title {
    font-size: 35px;
    font-weight: 700;
}

.text {
    font-size: 25px;
    line-height: 1.4;
}

.btn:hover, .btn:focus, .btn:active {
    opacity: .75;
}

.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 20px;
    color: #b0b3a3;
}

/* Header */

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

    color: #878383;
}

/* Intro section */

.carousel-inner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.carousel-caption {
    top: 40%;
    z-index: 2;
}

.intro-title {
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* About section */

.about {
    padding: 50px 0 25px;
}

.about-wrapper {
    text-align: center;

    padding: 25px 16px 0;
}

.about-title {
    width: 100%;

    font-size: 40px;
    font-weight: 700;
}

/* Services section */

.services {
    padding: 25px 0;
}

.services-wrapper {
    padding: 0 16px;
}

.bi {
    font-size: 60px;
}

/* Portfolio section */

.portfolio {
    padding: 25px 0;
}

.portfolio-wrapper {
    padding: 0 16px;
}

.portfolio-card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, .15);
}

/* Team section */

.team {
    padding: 25px 0;
}

.team-card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, .15);
}

/* Contact section */

.contact {
    padding: 25px 0;
}

.contact-label {
    font-size: 23px;
    font-weight: 700;
}

.contact-form-text {
    font-size: 15px;
}

.contact-check-text {
    font-size: 13px;
}

.contact-textarea-text {
    font-size: 18px;
    font-weight: 700;
}

/* Footer */
.footer {
    height: 80px;
}

.footer-text {
    font-size: 18px;
}

/*Responsive*/

@media screen and (min-width: 576px) {
    .text-desktop {
        font-size: 30px;
        line-height: 1.6;
    }

    .desktop-card-text {
        font-size: 23px;
    }

    .carousel-caption {
        top: 45%;
    }

    .intro-title {
        font-size: 50px;
    }

    .intro-btn {
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 1rem;
        --bs-btn-font-size: 1.25rem;
        --bs-btn-border-radius: 0.5rem;
    }

    .services-title {
        font-size: 35px;
    }
}

@media screen and (min-width: 992px) {
    .about-wrapper {
        text-align: left;

        padding: 50px 0 50px 50px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-brand {
        font-size: 35px;
    }

    .about {
        padding: 100px 0 50px;
    }

    .about-title {
        width: 750px;
    
        font-size: 55px;
    }

    .services {
        padding: 50px 0;
    }

    .portfolio {
        padding: 50px 0;
    }

    .team {
        padding: 50px 0;
    }

    .contact {
        padding: 50px 0;
    }

    .contact-label {
        font-size: 25px;
    }
    
    .contact-form-text {
        font-size: 20px;
    }

    .contact-check-text {
        font-size: 18px;
    }
}