@import url(./vendors/fonts.css);

.page {
    font-family: 'Montserrat';

    background-color: #f1fbff;
}

/* Navbar */

.navbar-brand {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-link {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

    color: #878383;
}

/* Carousel */

.intro-img {
    width: 100%;
}

.intro-title {
    font-size: 45px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.intro-text {
    font-size: 18px;
    line-height: 1.9;
}